<a href="https://colab.research.google.com/github/Mahesh3146/classification_projects/blob/main/Predicting_the_Profits_of_a_mlr_50_Startups_dataset_using_KMeans_clustering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("/content/MLR_50_Startups.csv")

In [3]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [11]:
df.State.unique()

array(['New York', 'California', 'Florida'], dtype=object)

In [12]:
df["State"] = df["State"].replace({"New York" : 1,"California" :2,"Florida" : 3})

In [13]:
df.head()

   R&D Spend  Administration  Marketing Spend  State     Profit
0  165349.20       136897.80        471784.10      1  192261.83
1  162597.70       151377.59        443898.53      2  191792.06
2  153441.51       101145.55        407934.54      3  191050.39
3  144372.41       118671.85        383199.62      1  182901.99
4  142107.34        91391.77        366168.42      3  166187.94

In [14]:
from sklearn.cluster import KMeans

In [25]:
X = df.drop('Profit',axis = 1)

In [27]:
X.head()

   R&D Spend  Administration  Marketing Spend  State
0  165349.20       136897.80        471784.10      1
1  162597.70       151377.59        443898.53      2
2  153441.51       101145.55        407934.54      3
3  144372.41       118671.85        383199.62      1
4  142107.34        91391.77        366168.42      3

In [28]:
Y = df.iloc[:,-1]

In [29]:
Y

0     192261.83
1     191792.06
2     191050.39
3     182901.99
4     166187.94
5     156991.12
6     156122.51
7     155752.60
8     152211.77
9     149759.96
10    146121.95
11    144259.40
12    141585.52
13    134307.35
14    132602.65
15    129917.04
16    126992.93
17    125370.37
18    124266.90
19    122776.86
20    118474.03
21    111313.02
22    110352.25
23    108733.99
24    108552.04
25    107404.34
26    105733.54
27    105008.31
28    103282.38
29    101004.64
30     99937.59
31     97483.56
32     97427.84
33     96778.92
34     96712.80
35     96479.51
36     90708.19
37     89949.14
38     81229.06
39     81005.76
40     78239.91
41     77798.83
42     71498.49
43     69758.98
44     65200.33
45     64926.08
46     49490.75
47     42559.73
48     35673.41
49     14681.40
Name: Profit, dtype: float64

# Applying the KMeans clustering to the MLR_Startups dataset

Predicted the Accuracy using rand_score

In [15]:
KM = KMeans(n_clusters = 10)

In [16]:
from sklearn.model_selection import train_test_split

In [30]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size = 0.3)

In [31]:
KM.fit(x_train,y_train)

KMeans(n_clusters=10)

In [32]:
predicted_values = KM.predict(x_test)

In [35]:
from sklearn.metrics import rand_score

In [36]:
print("accuracy score of Kmeans clustering :",rand_score(y_test,predicted_values))

accuracy score of Kmeans clustering : 0.8476190476190476

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/cluster/_supervised.py:65: UserWarning: Clustering metrics expects discrete values but received continuous values for label, and multiclass values for target
  warnings.warn(msg, UserWarning)

Applying the logistic Regression technique to the MLR_50_startups dataset

In [38]:
from sklearn.linear_model import LogisticRegression

In [39]:
lr = LogisticRegression()

In [40]:
lr.fit(x_train,y_train)

ValueError: ignored